# FINAL ENPM809E TRIAL
# ENVIRONMENT SETUP

time_limit: -1 # options: -1 (no time limit) or number of seconds (max 500)

kitting_trays: # Which kitting trays will be spawn
  tray_ids: [3, 8] 
  slots: [1, 4]

parts:  
  bins: # bin params - 8 total bins each bin has nine total slots (1-9)
    bin2:
      - type: 'pump'
        color: 'purple'
        slots: [1, 7]
      - type: 'sensor'
        color: 'red'
        slots: [3, 9]
    bin6:
      - type: 'battery'
        color: 'blue'
        slots: [1, 7]
      - type: 'regulator'
        color: 'orange'
        slots: [3, 9]

        
# GLOBAL CHALLENGES
# challenges:
#   - human:
#       behavior: 'helpful'
#       time_condition: 5.0

# ORDERS
orders:
  - id: '0'
    type: 'kitting'
    announcement:
      time_condition: 0
    priority: false
    kitting_task:
      agv_number: 1
      tray_id: 3
      destination: 'warehouse'
      products:
        - type: 'battery'
          color: 'blue'
          quadrant: 1
        - type: 'pump'
          color: 'purple'
          quadrant: 2
  - id: '1'
    type: 'kitting'
    announcement:
      time_condition: 0
    priority: false
    kitting_task:
      agv_number: 2
      tray_id: 3
      destination: 'warehouse'
      products:
        - type: 'sensor'
          color: 'red'
          quadrant: 3
        - type: 'regulator'
          color: 'orange'
          quadrant: 4
  - id: '2'
    type: 'kitting'
    announcement:
      time_condition: 0
    priority: false
    kitting_task:
      agv_number: 3
      tray_id: 8
      destination: 'warehouse'
      products:
        - type: 'regulator'
          color: 'orange'
          quadrant: 1
        - type: 'regulator'
          color: 'orange'
          quadrant: 3
  - id: '3'
    type: 'kitting'
    announcement:
      time_condition: 0
    priority: false
    kitting_task:
      agv_number: 4
      tray_id: 8
      destination: 'warehouse'
      products:
        - type: 'regulator'
          color: 'orange'
          quadrant: 2
        - type: 'pump'
          color: 'purple'
          quadrant: 4